# PHP / Backend ignores
**/storage/
**/*.log
.env
.env.import
/vendor/
/composer.lock

# Node.js / Frontend ignores
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
!**/fail2ban/jail.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
workstation/can_con/adoption/backend/vendor/
