<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="database">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- A MySQL 8 server the tests may create and drop the TEST_DB_NAME database on. -->
        <env name="TEST_DB_HOST" value="127.0.0.1"/>
        <env name="TEST_DB_PORT" value="3306"/>
        <env name="TEST_DB_USER" value="root"/>
        <env name="TEST_DB_PASS" value=""/>
        <env name="TEST_DB_NAME" value="canine_test"/>
    </php>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
