
#----------------MySQL--------------
db_host=127.0.0.1
db_port=3306
db_name=adoption_center
db_user=adoption_user
db_pass=REDACTED



#----------------RabbitMQ------------
rmq_host=127.0.0.1
rmq_port=5672
rmq_user=
rmq_pass=
rmq_vhost=/
rmq_queue=jobs



#---------------Services-------------
backend_host=0.0.0.0
backend_port=8000
frontend_host=0.0.0.0
frontend_port=5173

